<!doctype html>
<html lang="en">
	<body data-spy="scroll" data-target="#toc" class="ft-mainpage">

		<nav class="navbar navbar-expand-lg fixed-top navbar-dark ft-navbar">
			<div class="col-xs-1 col-md-2 p-0 text-center">
				<a class="navbar-brand ft-name font-weight-bold" href="#">Fotobook Admin</a>
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="col-md-5 mr-auto px-0">
					<div class="input-group input-group-sm">
						<input class="form-control" type="search" role="search" placeholder="Search Photo / Album" aria-label="Search">
					</div>
				</div>
				
				<div class="col-xs-6 col-md-1 text-center">
					<%= link_to(user_path(id: current_user), class: "navbar-brand") do  %>
                        <%= image_tag(current_user.avatar.url, class: "img-fluid rounded-circle ft-avatar") %>
                        <span class="font-weight-bold ft-login" href="#"> <%= current_user.first_name %> <%=current_user.last_name %> </span>
                    <% end %>
				</div>
	
				<div class="col-xs-6 col-md-2 text-center">
					<%= link_to("Logout", destroy_user_session_path, method: "delete", class: "navbar-brand font-weight-bold ft-login") %>
				</div>
			</div>	
		</nav>

		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-1 col-md-2 mt-5 text-center">
					<nav class="sticky-top" id="toc" data-toggle="toc">
						<ul class="nav navbar-nav">
							<%= link_to("Manage Photos", admin_manage_photos_path, class: "btn shadow-none p-0 content-text") %>
						</ul>
	
						<ul class="nav navbar-nav">
							<%= link_to("Manage Albums", admin_manage_albums_path, class: "btn shadow-none p-0 content-text") %>
						</ul>
	
						<ul class="nav navbar-nav">
							<%= link_to("Manage Users", admin_manage_users_path, class: "btn shadow-none p-0 content-text content-text-active") %>
						</ul>
					</nav>
				</div>
				
				<div class="col-xs-6 col-md-8 bg-white mt-3 py-5 hmm">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-hover table-borderless">
								<thead>
									<tr class="border-bottom border-dark">
										<th scope="col">First Name</th>
										<th scope="col">Last Name</th>
										<th scope="col">Email</th>
										<th scope="col">Last Login</th>
										<th scope="col"></th>
										
									</tr>
								</thead>
	
								<tbody>
                                    <% @users.each do |user| %>

                                        <tr>
                                            <td> <%= user.first_name %> </td>
                                            <td> <%= user.last_name %> </td>
                                            <td> <%= user.email %> </td>
                                            <td> <%= user.last_sign_in_at.localtime.to_s(:long) %> </td>
                                            <td>
                                                <%= link_to("Edit", edit_admin_user_path(id: user.id), class: "btn btn-sm btn-success mr-3 mb-2", type: "button") %>
                                                <%= link_to("Delete", admin_user_path(id: user.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger mr-3 mb-2", type: "button") %>
                                            </td>
                                        </tr>
                                    <% end %>					
								</tbody>
							</table>
						</div>

					</div>

					<footer>
						<div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <%= paginate @users %>
					</footer>

                    <%# Flash %>
                    <div class="mt-1 mx-2 p-0">
                        <% flash.each do |type, msg| %>
                            <div class="alert alert-info">
                                <%= msg %>
                            </div>
                        <% end %>
                    </div>
				</div>
			</div>
		</div>
	</body>
</html>