<!--Photo Modal-->
<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title font-weight-bold" id="photo-modal">Hmm</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<%= image_tag("", class: "img-fluid", alt: "Card image cap") %>
				<hr>
				<p>Hmm</p>
			</div>
			<div class="modal-footer text-left">
				<p>Hmm</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<% if @user.followings.size != 0 %>
		<% @following_photos.each do |photo| %>
			<div class="col-12 col-md-6 p-3">
				<div class="card h-100 border-light bg-light position-relative">
					<div class="row py-0 card-body">
						<% if photo.image.url == nil %>
							<%= image_tag("desktop.jpg", class: "col-12 col-md-6 p-0 img-fluid img-thumbnail card-img", alt: "Card image cap") %>
						<% else %>
							<%= image_tag(photo.image.url, class: "col-12 col-md-6 p-0 img-fluid img-thumbnail card-img mx-auto", alt: "Card image cap")%>
						<% end %>

						<div class="col-12 col-md-6">
							<div class="card-title">
								<%= image_tag("tuanminh.png", class: "img-fluid rounded-circle ft-avatar", alt: "user-avatar") %>
								<span class="font-weight-bold ft-login" href="#"> <%= photo.user.first_name %> <%= photo.user.last_name %> </span>
								<p><strong> <%= photo.title %> </strong></p>
							</div>

							<div class="card-body d-flex flex-column p-0">
								<p class="card-text"> <%= photo.description %> </p>
							</div>
							<div class="w-100 spaces">Some space</div>

							<div class="row card-foot w-100">
								<div class="col-3 col-md-3 pr-0">
									<button class="heart-btn px-0"><i class="fas fa-heart"></i></button>
									<span class="like-numbers">112</span>
								</div>
								<div class="col-9 col-md-9 font-italic ft-date mt-1"> <%= photo.created_at.localtime.to_s(:long)%> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% else %>
		<div class="col-12 col-md-12">
			<p class="text-center text-blue">You have not followed anyone yet!</p>
		</div>
	<% end %>

</div>