<div class="row justify-content-center">
	<div class="col-5 col-md-2 pt-4 pl-4 pr-0">
		<%= image_tag(user.avatar.url, class: "img-fluid rounded-circle ft-profile-img", alt: "profile-avatar") %>
	</div>

	<div class="col-7 col-md- p-0">
		<% if user == current_user %>
			<%= link_to('Edit Profile', edit_user_path, class: "badge badge-pill bg-white text-blue font-weight-bold px-3 pt-1 mt-5 ml-4 border border-primary") %>
		<% else %>
			<span class="item-<%=user.id%>">
                <% if current_user.followings.include? user%>
                    <%= link_to("following", user_toggle_follow_path(user_id: user.id), remote: true, class: "ml-4 mt-5 btn active-follow follow-btn", type: "button") %>
                    <%= link_to("follow", user_toggle_follow_path(user_id: user.id), remote: true, class: "ml-4 mt-5 btn follow-btn d-none", type: "button") %>
                <% else %>
                    <%= link_to("following", user_toggle_follow_path(user_id: user.id), remote: true, class: "ml-4 mt-5 btn active-follow follow-btn d-none", type: "button") %>
                    <%= link_to("follow", user_toggle_follow_path(user_id: user.id), remote: true, class: "ml-4 mt-5 btn follow-btn", type: "button") %>
                <% end %>
            </span>
		<% end %>

		<p class="ml-3 pt-3 pl-2 h1 text-dark font-weight-bolder"> <%= user.first_name%> <%= user.last_name%></p>

        <ul class="nav nav-tabs px-3 border-0">
            <li class="nav-item col-10 col-md-3 border-right">
                <a class="nav-link active font-weight-bold profile-text border-0" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="true"> <%= photos.size %> <small>PHOTOS</small></a>
            </li>
            <li class="nav-item col-10 col-md-3 border-right">
                <a class="nav-link font-weight-bold profile-text border-0" id="albums-tab" data-toggle="tab" href="#albums" role="tab" aria-controls="albums" aria-selected="true"> <%= albums.size %> <small>ALBUMS</small></a>
            </li>
            <li class="nav-item col-10 col-md-3 border-right">
                <a class="nav-link font-weight-bold profile-text border-0" id="followings-tab" data-toggle="tab" href="#followings" role="tab" aria-controls="followings" aria-selected="true"> <%= followings.size %> <small>FOLLOWINGS</small></a>
            </li>
            <li class="nav-item col-10 col-md-3 border-right">
                <a class="nav-link font-weight-bold profile-text border-0" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="true"> <%= followers.size %> <small>FOLLOWERS</small></a>
            </li>
        </ul>

		<!-- <div class="row px-3">
            <div class="col-10 col-md-3 border-right border-secondary">
                <a class="profile-text font-weight-bold profile-text-active"> <%= photos.size %> <small>PHOTOS</small></a>
            </div>

            <div class="col-10 col-md-3 border-right border-secondary">
                <a class="profile-text font-weight-bold"> <%= user.albums.size %> <small>ALBUMS</small></a>
            </div>

            <div class="col-10 col-md-3 border-right border-secondary">
                <a class="profile-text font-weight-bold"> <%= user.followings.size%> <small>FOLLOWINGS</small></a>
            </div>

            <div class="col-10 col-md-3 border-right border-secondary">
                <a class="profile-text font-weight-bold"> <%= user.followers.size %> <small>FOLLOWERS</small></a>
            </div>
        </div> -->
	</div>
</div>

<div class="tab-content">
    <%# Photos Tab %>
    <div class="tab-pane fade show active" id="photos" role="tabpanel" aria-labelledby="photos-tab">
        <div class="row">
            <% if user == current_user %>
                <div class="offset-7 offset-md-10">
                    <%= link_to("Add Photo", new_user_photo_path(user_id: user.id), class: "btn btn-sm m-3 px-3 btn-success")%>
                </div>
            <% end %>
        </div>

        <div class="row mt-5 d-flex">
            <div class="col-2 col-md-1"></div>
            <div class="col-10 col-md-11">
                <div class="row">
                    <% if photos.size != 0 %>
                        <% photos.each do |photo| %>
                            <div class="col-8 col-md-2 mx-4 mb-4 p-0">
                                <div class="col-12 col-md-12 p-0">
                                    <% if photo.sharing_mode == 'private' %>
                                        <button class="top-right rounded-circle">
                                            <i class="fas fa-xs fa-lock"></i>
                                        </button>
                                    <% end %>

                                    <% if user == current_user %>
                                        <%= link_to('EDIT', edit_user_photo_path(user_id: user, id: photo.id), class: "btn btn-sm btn-dark edit-btn bottom-right", type: "button") %>
                                    <% end %>

                                    <% if photo.image.url == nil %>
                                        <%= image_tag('desktop.jpg', class: "img-fluid ft-imgs", alt: "photo") %>
                                    <% else %>
                                        <%= image_tag(photo.image.url, class: "img-fluid ft-imgs border", alt: "photo") %>
                                    <% end %>
                                </div>
                                <figcaption class="text-center small text-secondary border-0"> <%= photo.title %> </figcaption>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="col-12 col-md-12">
                            <p class="text-center text-blue">You have not add any photos yet! Add one</p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <%# Albums Tab %>
    <div class="tab-pane fade" id="albums" role="tabpanel" aria-labelledby="albums-tab">
        <div class="row">
            <% if user == current_user %>
                <div class="offset-7 offset-md-10">
                    <%= link_to("Add Album", new_user_album_path(user_id: user.id), class: "btn btn-sm m-3 px-3 btn-success")%>
                </div>
            <% end %>
        </div>

        <div class="row mt-5 d-flex">
            <div class="col-2 col-md-1"></div>
            <div class="col-10 col-md-11">
                <div class="row">
                    <% if albums.size != 0 %>
                        <% albums.each do |album| %>
                            <div class="col-8 col-md-2 mx-4 mb-4 p-0">
                                <div class="col-12 col-md-12 p-0">
                                    
                                    <%= image_tag(album.images[0].url, class: "position-absolute rotate6 img-fluid img-thumbnail ft-imgs", alt: "album") %> 
                                    <%= image_tag(album.images[0].url, class: "position-absolute rotate11 img-fluid img-thumbnail ft-imgs", alt: "album") %>
                                    <%= image_tag(album.images[0].url, class: "img-fluid img-thumbnail ft-imgs", alt: "album") %>

                                    <span class="position-absolute text-center text-white font-weight-bold border border-dark rounded-circle p-3 count_albums"> <%= album.images.size %> Photos </span>

                                    <% if album.sharing_mode == 'private' %>
                                        <button class="top-right rounded-circle">
                                            <i class="fas fa-xs fa-lock"></i>
                                        </button>
                                    <% end %>

                                    <% if user == current_user %>
                                        <%= link_to('EDIT', edit_user_album_path(user_id: user, id: album.id), class: "btn btn-sm btn-dark edit-btn bottom-right", type: "button") %>
                                    <% end %>
                                </div>
                                <figcaption class="text-center small text-secondary border-0 mt-4"> <%= album.title %> </figcaption>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="col-12 col-md-12">
                            <p class="text-center text-blue">You have not add any albums yet! Add one</p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <%# Followings Tab %>
    <div class="tab-pane fade" id="followings" role="tabpanel" aria-labelledby="followings-tab">

        <div class="row mt-5 d-flex">
            <div class="col-2 col-md-1"></div>
            <div class="col-10 col-md-11">
                <div class="row mt-5">
                    <% if followings.size != 0 %>
                        <% followings.each do |following| %>
                            <div class="col-8 col-md-2 mx-4 mb-4 px-0 border bg-light">
                                <% if following != current_user %>
                                    <%= link_to(user_path(id: current_user, user: following), class: "text-dark") do %>
                                        <div class="col-12 col-md-12 pt-2 text-center">
                                            <%= image_tag(following.avatar.url, class: "img-fluid follow-profile rounded-circle border", alt: "profile-avatar") %>
                                        </div>
                                        <div class="col-12 col-md-12 pt-2 px-0 text-center">
                                            <span class="text-dark font-weight-bold"> <%= following.first_name %> <%= following.last_name %> </span>
                                        </div>
                                    <% end %>
                                <% else %>
                                    <div class="col-12 col-md-12 pt-2 text-center">
                                        <%= image_tag(following.avatar.url, class: "img-fluid follow-profile rounded-circle border", alt: "profile-avatar") %>
                                    </div>
                                    <div class="col-12 col-md-12 pt-2 px-0 text-center">
                                        <span class="text-dark font-weight-bold"> <%= following.first_name %> <%= following.last_name %> </span>
                                    </div>
                                <% end %>

                                <div class="col-12 col-md-12 pt-2">
                                    <div class="row justify-content-around">
                                        <div class="col-4 col-md-4 p-0">
                                            <div class="row">
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"> <%= following.photos.size %> </span>
                                                </div>
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"><small>PHOTOS</small></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-md-4 p-0">
                                            <div class="row">
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"> <%= following.albums.size %> </span>
                                                </div>
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"><small>ALBUMS</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <% if user != current_user %>
                                    <div class="col-12 col-md-12 text-center">
                                        
                                        <span class="item-<%=following.id%>">
                                            <% if current_user.followings.include? following%>
                                                <%= link_to("following", user_toggle_follow_path(user_id: following.id), remote: true, class: "m-2 btn active-follow follow-btn", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: following.id), remote: true, class: "m-2 btn follow-btn d-none", type: "button") %>
                                            <% elsif following == current_user %>
                                                <span class="m-2"></span>
                                            <% else %>
                                                <%= link_to("following", user_toggle_follow_path(user_id: following.id), remote: true, class: "m-2 btn active-follow follow-btn d-none", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: following.id), remote: true, class: "m-2 btn follow-btn", type: "button") %>
                                            <% end %>
                                        </span>
                                    </div>
                                <% else %>
                                    <div class="col-12 col-md-12 text-center">
                                        <span class="item-<%=following.id%>">
                                            <% if current_user.followings.include? following%>
                                                <%= link_to("unfollow", user_toggle_follow_path(user_id: following.id), remote: true, class: "btn active-follow follow-btn font-weight-bold px-3 p-1 m-2", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: following.id), remote: true, class: "btn follow-btn font-weight-bold px-3 p-1 m-2 d-none", type: "button") %>
                                            <% else %>
                                                <%= link_to("unfollow", user_toggle_follow_path(user_id: following.id), remote: true, class: "btn active-follow font-weight-bold px-3 p-1 m-2 d-none", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: following.id), remote: true, class: "btn follow-btn font-weight-bold px-3 p-1 m-2", type: "button") %>
                                            <% end %>
                                        </span>
                                    </div>
								<% end %>
                                
                            </div>
                        <% end %>
                    <% else %>
                        <div class="col-12 col-md-12">
                            <p class="text-center text-blue"> You have not follow anyone yet! </p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>

    <%# Followers Tab %>
    <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
    
        <div class="row mt-5 d-flex">
            <div class="col-2 col-md-1"></div>
            <div class="col-10 col-md-11">
                <div class="row mt-5">
                    <% if followers.size != 0 %>
                        <% followers.each do |follower| %>
                            <div class="col-8 col-md-2 mx-4 mb-4 px-0 border bg-light">
                                
                                <% if follower != current_user %>
                                    <%= link_to(user_path(id: current_user, user: follower), class: "text-dark") do %>
                                        <div class="col-12 col-md-12 pt-2 text-center">
                                            <%= image_tag(follower.avatar.url, class: "img-fluid follow-profile rounded-circle border", alt: "profile-avatar") %>
                                        </div>
                                        <div class="col-12 col-md-12 pt-2 px-0 text-center">
                                            <span class="font-weight-bold text-dark"> <%= follower.first_name %> <%= follower.last_name %> </span>
                                        </div>
                                    <% end %>
                                <% else %>
                                    <div class="col-12 col-md-12 pt-2 text-center">
                                        <%= image_tag(follower.avatar.url, class: "img-fluid follow-profile rounded-circle border", alt: "profile-avatar") %>
                                    </div>
                                    <div class="col-12 col-md-12 pt-2 px-0 text-center">
                                        <span class="font-weight-bold text-dark"> <%= follower.first_name %> <%= follower.last_name %> </span>
                                    </div>
                                <% end %>

                                <div class="col-12 col-md-12 pt-2">
                                    <div class="row justify-content-around">
                                        <div class="col-4 col-md-4 p-0">
                                            <div class="row">
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"> <%= follower.photos.size %> </span>
                                                </div>
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"><small>PHOTOS</small></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-md-4 p-0">
                                            <div class="row">
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"> <%= follower.albums.size %> </span>
                                                </div>
                                                <div class="col-12 col-md-12 text-center">
                                                    <span class="font-weight-bold text-blue"><small>ALBUMS</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <% if user != current_user %>
                                    <div class="col-12 col-md-12 text-center">
                                        
                                        <span class="item-<%=follower.id%>">
                                            <% if current_user.followers.include? follower%>
                                                <%= link_to("follower", user_toggle_follow_path(user_id: follower.id), remote: true, class: "m-2 btn active-follow follow-btn", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: follower.id), remote: true, class: "m-2 btn follow-btn d-none", type: "button") %>
                                            <% elsif follower == current_user %>
                                                <span class="m-2"></span>
                                            <% else %>
                                                <%= link_to("follower", user_toggle_follow_path(user_id: follower.id), remote: true, class: "m-2 btn active-follow follow-btn d-none", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: follower.id), remote: true, class: "m-2 btn follow-btn", type: "button") %>
                                            <% end %>
                                        </span>
                                    </div>
                                <% else %>
                                    <div class="col-12 col-md-12 text-center">
                                        <span class="item-<%=follower.id%>">
                                            <% if current_user.followings.include? follower%>
                                                <%= link_to("unfollow", user_toggle_follow_path(user_id: follower.id), remote: true, class: "btn active-follow follow-btn font-weight-bold px-3 p-1 m-2", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: follower.id), remote: true, class: "btn follow-btn font-weight-bold px-3 p-1 m-2 d-none", type: "button") %>
                                            <% else %>
                                                <%= link_to("unfollow", user_toggle_follow_path(user_id: follower.id), remote: true, class: "btn active-follow font-weight-bold px-3 p-1 m-2 d-none", type: "button") %>
                                                <%= link_to("follow", user_toggle_follow_path(user_id: follower.id), remote: true, class: "btn follow-btn font-weight-bold px-3 p-1 m-2", type: "button") %>
                                            <% end %>
                                        </span>
                                    </div>
								<% end %>
                                
                            </div>
                        <% end %>
                    <% else %>
                        <div class="col-12 col-md-12">
                            <p class="text-center text-blue"> No one follows you ! </p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-12 col-md-12 w-100 my-5"></div>

<footer>
	<nav aria-label="Page navigation example">
		<ul class="pagination m-3 justify-content-center">
			<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
</footer>