<!doctype html>
<html lang="en">
<head></head>
<body data-spy="scroll" data-target="#toc" class="ft-mainpage">

<nav class="navbar navbar-expand-lg fixed-top navbar-dark ft-navbar">
	<div class="col-xs-1 col-md-2 text-center">
		<a class="navbar-brand ft-name font-weight-bold" href="#">Fotobook</a>
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="col-md-5 mr-auto px-0">
			<div class="input-group input-group-sm">
				<input class="form-control" type="search" role="search" placeholder="Search Photo / Album" aria-label="Search">
			</div>
		</div>

		<div class="col-xs-6 col-md-1 text-center">
			<%= link_to(user_path(id: current_user), class: "navbar-brand") do  %>
				<%= image_tag(current_user.avatar.url, class: "img-fluid rounded-circle ft-avatar") %>
				<span class="font-weight-bold ft-login" href="#"> <%= current_user.first_name %> <%=current_user.last_name %> </span>
			<% end %>
		</div>

		<div class="col-xs-6 col-md-2 text-center">
			<%= link_to("Logout", destroy_user_session_path, method: "delete", class: "navbar-brand font-weight-bold ft-login") %>
		</div>
	</div>
</nav>

<div class="mt-1">
    <% flash.each do |type, msg| %>
        <div class="alert alert-info">
            <%= msg %>
        </div>
    <% end %>
</div>

<div class="container-fluid ">
	<div class="row">
		<div class="col-xs-1 col-md-2 mt-5">
			<nav class="sticky-top text-center" id="toc" data-toggle="toc">
				<ul class="nav navbar-nav">
					<%= link_to("Feeds", user_feeds_path(user_id: current_user, status: 'photo'), method: "get", class: "btn shadow-none p-0 content-text content-text-active", type: "button") %>
				</ul>

				<ul class="nav navbar-nav">
					<%= link_to("Discover", user_discover_path(user_id: current_user, status: 'photo'), method: "get", class: "btn shadow-none p-0 content-text", type: "button") %>
				</ul>
			</nav>
		</div>

		<main class="col-xs-6 col-md-8 bg-white mt-3 hmm">
			
			<% if params[:status] == 'photo' %>
				<%= render "feed_photos", users: @following_users, photos: @following_photos %>
			<% else %>
				<%= render "feed_albums", users: @following_users, albums: @following_albums %>
			<% end %>

			<div class="d-flex justify-content-center">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>

			<footer>
				<nav aria-label="Page navigation example">
					<ul class="pagination m-3 justify-content-center">
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</footer>

		</main>

		<div class="col-xs-1 col-md-2">

		</div>
	</div>
    

</div>

</body>
</html>