<!doctype html>
<html lang="en">
<head></head>

<body data-spy="scroll" data-target="#toc" class="ft-mainpage">

<nav class="navbar navbar-expand-lg fixed-top navbar-dark ft-navbar">
	<div class="col-xs-1 col-md-2 text-center">
		<a class="navbar-brand ft-name font-weight-bold" href="#">Fotobook</a>
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="col-md-5 mr-auto px-0">
			<div class="input-group input-group-sm">
				<input class="form-control" type="search" role="search" placeholder="Search Photo / Album" aria-label="Search">
			</div>
		</div>

		<div class="col-xs-6 col-md-1 text-center">
			<%= link_to(user_path(id: current_user), class: "navbar-brand") do  %>
				<%= image_tag(current_user.avatar.url, class: "img-fluid rounded-circle ft-avatar") %>
				<span class="font-weight-bold ft-login" href="#"> <%= current_user.first_name %> <%=current_user.last_name %> </span>
			<% end %>
		</div>

		<div class="col-xs-6 col-md-2 text-center">
			<%= link_to("Logout", destroy_user_session_path, method: "delete", class: "navbar-brand font-weight-bold ft-login") %>
		</div>
	</div>
</nav>

<div class="container-fluid ">
	<div class="row">
		<div class="col-md-2 mt-5">
			<nav class="sticky-top text-center" id="toc" data-toggle="toc">
				<ul class="nav navbar-nav">
					<%= link_to("Feeds", user_feeds_path(user_id: params[:id], status: 'photo'), method: "get", class: "btn shadow-none p-0 content-text", type: "button") %>
				</ul>
				<ul class="nav navbar-nav">
					<%= link_to("Discover", user_discover_path(user_id: params[:id], status: 'photo'), method: "get", class: "btn shadow-none p-0 content-text", type: "button") %>
				</ul>
			</nav>
		</div>

		<main class="col-xs-6 col-md-8 bg-white mt-3 hmm">
			<% if params.has_key?(:user) %>
                <%= render 'profile', 
                    user: User.find(params[:user].to_i), 
                    photos: User.find(params[:user].to_i).photos.where(sharing_mode: 'public'), 
                    albums: User.find(params[:user].to_i).albums.where(sharing_mode: 'public'), 
                    followings: User.find(params[:user].to_i).followings, 
                    followers: User.find(params[:user].to_i).followers  
                %>

			<% else %>
                <%= render 'profile', 
                    user: current_user, 
                    photos: current_user.photos, 
                    albums: current_user.albums,
                    followings: current_user.followings,
                    followers: current_user.followers
                %>
			<% end %>
		</main>

		<div class="col-md-2"></div>
	</div>

</div>

</body>
</html>